@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body { 
    background-color: #101010;
    color: white;
}

.frame {
    background-color: black;
    height: 1200px;
    width: 1250px;
    margin: 50px auto;
    position: relative;
}

.post {
    background-color: white;
    color: black;
    height: 1000px;
    width: 750px;
    position: absolute;
    margin: 100px auto;
    left: 0;
    right: 0;
    font-family: 'Roboto', sans-serif;
}

.post-header {
    height: 20px;
}



